<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div claFreelancerss="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> CALM is a non-profit organization which boosts your emotional and social intelligence.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you aspire to become TED speaker, want to boost your emotional and social intelligence, or you want to doo something fun during lunch, CALM is the club for you.</p>
                </div>
            </div>
        </div>
    </section>
